<!-- <app-photo></app-photo> -->


<app-photo-component></app-photo-component>
<!-- 
<div class="box-hieght" [ngClass]="bgClass?'bg-primary':'bg-info'">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
      
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of data; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{person.name}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.address}}</td>
     
      </tr>
      
    </tbody>
  </table>
  <button (click)="bgClass = !bgClass" class="btn btn-sm btn-danger">Change Colour</button>
</div>
 -->
